@page "/CargarRom"

@using Blazor.FileReader

@inject IFileReaderService fileReaderService
@inject IJSRuntime JS
<h3>Cargar Rom</h3>
<input type="file" @ref="inpCargarRom" @onchange="CargarRomMethod" accept=".gba" />
<button @onclick="()=>Rom.LoadPokemon()">Clic to Load</button>

@code {
    [CascadingParameter] RomPokemon Rom { get; set; }
    ElementReference inpCargarRom;

    async Task CargarRomMethod()
    {
        const int BUFFER = 400 * 1024;

        RomGba rom;
        foreach (IFileReference file in await fileReaderService.CreateReference(inpCargarRom).EnumerateFilesAsync())
        {
            try {
                rom = new RomGba(await file.Read(BUFFER));
                Console.WriteLine($"Se ha cargado el archivo GBA edicion {rom.Edicion.Version}");
                Rom.RomData = rom;
                Console.WriteLine("FIN");

            }
            catch { await JS.MostrarMensajeAsync("Rom no compatible..."); }

        }
    }

}
